.temp img {
    transition: transform 0.3s;
    
}

.temp:hover img {
    
    transform: scale(0.95);
    border: 3px solid #1a91f0;
}

.temp {
    transition: background-color 0.3s;
}

.temp:hover {
    background-color: #f0f0f0; /* Change this to the desired background color */
}
